/* Desktop */
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33.33%;
	}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
		float:left;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-12 {
		width: 100%;
	}
}

.titlebox {
	float: right;
	border-left: 1px solid;
	border-bottom: 1px solid;
	width: 100px;
	box-sizing: border-box;
	text-align: center;
	padding: 5px
}

.innerbox {
	border: 1px solid;
	margin: 10px;
	clear: right;
	background-color: #e0ebeb;
}

.text-content {
	clear: right;
	padding: 10px;
}

h1 {
	text-align: center;
}

body {
	font-family: 'Helvetica', sans-serif;
}

section:nth-child(1) .titlebox {
	background-color: red;
}

section:nth-child(2) .titlebox {
	background-color: orange;
}

section:nth-child(3) .titlebox {
	background-color: green;
}